<!DOCTYPE html>
<html>
  <head>
    <title>PokemonApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div>
      <% if user_signed_in? %>
        <div><%= current_user.email %></div>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <div><%= link_to "Sign up", new_user_registration_path %></div>
        <div><%= link_to "Sign in", new_user_session_path %></div>
      <% end %>
    </div>

    <div class="text-center">
      <p class="notice text-blue-500"><%= notice %></p>
      <p class="alert text-red-700"><%= alert %></p>
    </div>

    <%= yield %>
  </body>
</html>
